@charset "utf-8";

body,
h1,
h2,
h3,
ul,
li,
p,
div,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    width: 100%; 
    vertical-align: bottom;
    border: none;
}